@charset "UTF-8"; /* FONTE DAS LETRAS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root { /* COR DO SITE / FONTE DO SITE*/
    --cor0: #485936;
    --cor1: #8C8A87;
    --cor2: #050A0D;
    --cor3: #F2F2F2;
    --cor4: #172526;

    --font-padrão: 'Montserrat', helvetica, sans-serif;
    --font-titulo:'Kode mono', helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor4) url(imagens/3222795.jpg) ;
    font-family: var(--font-padrão);
}

header { /* CABEÇALHO */
    padding: 20px;
    background-color: var(--cor2);
    box-shadow: 1px 1px 3px black;
    margin: -10px;
    box-shadow: 2px 2px 4px var(--cor2);
}

header img { /* IMAGEM DO CABEÇALHO */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: -5px;
}

nav > a { /* LINKS DO CABEÇALHO */
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav.menu {
    text-align: right;
}

nav > a:hover {
    background-color: var(--cor1);
}

h1.interface { /* TITULO H1 */
    font-family: var(--font-titulo);
    font-size: 3em;
    color: var(--cor3);
    margin: auto;
}

main { /* CONTEUDO DO SITE*/
    padding: 50px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}

main h1 {
    color: var(--cor3);
    font-size: 2.5em;
    font-family: var(--font-titulo);
    text-shadow: 1px 1px 3px var(--cor2);
}

h1 > b {
    text-shadow: 2px 2px 4px var(--cor2);
    color: aqua;
}

main > h2 { /* TITULO H2 */
    font-family: var(--font-titulo);
    font-size: 2.2em;
    color: var(--cor3);
    padding: 15px 0px 0px 0px;
    text-shadow: 1px 1px 3px var(--cor2); 
}

h2 > b {
    text-shadow: 2px 2px 4px var(--cor2);
    color: aqua;
}

img.face{ /* IMAGEM DO CONTEUDO */
    display: block;
    float: right;
    border-radius: 50%;
    border: 3px solid var(--cor1);
}

footer { /* RODAPÉ */
    display: flex;
    justify-content: center;
    margin: -25px;
}

footer img { /* IMAGEM DOS LINKS */
    width: 30px;
    height: 30px;
    background-color: var(--cor3);
    border-radius: 50%;
    border: 3px solid var(--cor3);
}


footer a {
    margin: 10px;
}